<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
		<!-- using Tomcat connections -->
    <property name="connection.datasource">java:/comp/env/jdbc/netstat</property>    

    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Mapping classes -->
		<mapping class="ru.gooamoko.model.Department" />
		<mapping class="ru.gooamoko.model.Host" />
		<mapping class="ru.gooamoko.model.Traffic" />
		<mapping class="ru.gooamoko.model.DailyTraffic" />

	</session-factory>
</hibernate-configuration>